Package: sync-accounts-manager
Version: 0.15
Section: database
Maintainer: mbnoimi <mbnoimi@gmail.com>
Priority: standard
Architecture: amd64
Depends: libmysqlclient20 (>=5.7.16), libstdc++6 (>=5.4.0), libgcc1 (>=1:6.0.1), libc6 (>=2.19)
Description: SyncAccountsManager
 SyncAccountsManager for Crystal Accounting system. It works for monitor sync accounts

